<div id="cookies" class="tab results">
	<div class="result">
		<h2>Cookie Policy</h2>
		<p>
		This webpage only uses cookies to store user settings.
		It will only do this if the user have decided to change the settings, or if the user entered an url which set the cookie.
		This page will never use any form of advertising cookie or other form of cookie that contradict the purpose expressed above. 
		</p>
		<h3>Deleting Cookies</h3>
		<p>
		Cookies can easily be deleted using a button on the settings page.
		</p>
		<h3>Cookies</h3>
		<table>
			<tr>
				<th>Name</th>
				<th>Purpose</th>
			</tr>
			<tr>
				<td>lang</td>
				<td>This cookie is used to store the desired language of the website.</td>
			</tr>
		</table>
	</div>
</div>
